<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>contact</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<header th:replace="~{fragments::common-header}"></header>
<p class="form-title">formularz kontaktowy:</p>
<form >
    <label>nazwa</label>
    <input type="text" placeholder="nick"><br/>
    <label>e-mail</label>
    <input type="email" placeholder="example@mail.com"><br/>
    <label>tresc wiadomosci</label>
    <textarea placeholder="Prosze o kontakt w sprawie..."></textarea><br/>
    <button>wyslij!</button>
</form>
<footer th:replace="~{fragments::common-footer}"></footer>

</body>
</html>